@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: ;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.parallax-one{
    background: url('https://images.pexels.com/photos/2609107/pexels-photo-2609107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-two{
    background: url('https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-three{
    background: url('https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-inner{
    height: 100vh;
    font-size: 128px;
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    margin: 50px;
}