@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: ;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.parallax-one{
    background: url('https://images.pexels.com/photos/2609107/pexels-photo-2609107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-two{
    background: url('https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-three{
    background: url('https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
}

.parallax-inner{
    height: 100vh;
    font-size: 128px;
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: relative;
}

.header-title {
    font-size: 32px;
}

#hamburger {
    width: 40px;
    height: 28px;
    position: absolute;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

#hamburger span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#hamburger span:before, #hamburger span:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

#hamburger span:before {
    bottom: 12px;
}

#hamburger span:after {
    top: 12px;
}

#hamburger.open span {
    height: 0;
}

#hamburger.open span:before {
    transform: rotate(45deg);
    bottom: -2px;
}

#hamburger.open span:after {
    transform: rotate(-45deg);
    top: -2px;
}

.sidebar {
    width: 350px;
    position: fixed;
    left: -350px;
    height: 100vh;
    background-color: #dedede;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    padding-left: 150px;
    padding-top: 150px;
    z-index: 5;
    top: 0;
}

.sidebar > div {
    padding: 10px 0px;
    font-size: 20px;
}

.sidebar.active {
    left: 0px;
    transition: all 0.3s ease-in-out;
}